$displayed-color: #AAF;
$link-color: #AA4;
$from-color: #966;
$to-color: #44F;
$tab-max-height: 200px;

// from  http://blog.stevensanderson.com/2011/10/05/full-height-app-layouts-a-css-trick-to-make-it-easier/]

/* Generic pane rules */
body { margin: 0; -webkit-text-size-adjust: 100%; }
.gp-page { left: 0; right: 0; top: 0; bottom: 0; }
.gp-row, .gp-col, .gp-page { 
    overflow: hidden; 
    position: absolute; }
.gp-row { left: 0; right: 0; }
.gp-col { top: 0; bottom: 0; }
.gp-scroll-x { overflow-x: auto; -webkit-overflow-scrolling: touch; }
.gp-scroll-y { overflow-y: auto; -webkit-overflow-scrolling: touch; }
.gp-fill, .gp-pane { position: absolute; left: 0; top: 0; right: 0; bottom: 0;
    width: 100%; height: 100% }
.gp-pane { display: none; }

    /* Workaround: in landscape mode, IEMobile makes bottom toolbar
     * overlap the page, so shorten the page by 75px to compensate */
.iemobile .gp-page { bottom: -6px; }
@media screen and (orientation:landscape) { .iemobile .page { bottom:
        75px; } }

/* Very rough, 5-minute effort at iOS-like styles. I'm sure you can do better... */

body { font-family: 'Helvetica Neue', Arial, Sans-Serif; }
.gp-header, .gp-footer {
    color: #eee; background: #696f77; 
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5); 
    padding: 0 0.5em;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#696f77), color-stop(100%,#28343b));
    background: -webkit-linear-gradient(top, #696f77 0%,#28343b 100%); 
    background: -ms-linear-gradient(top, #696f77 0%,#28343b 100%); 
}
.gp-header { font-size: 1.4em; }
.body, .gp-pane { background: #ddd }
.gp-right.gp-col { border-left: 1px solid black; }
.gp-right.gp-col .body { padding: 0 1em; }
.gp-listview { padding: 0; margin: 0; font-weight: bold; color: #444; }
.gp-listview li { 
    list-style-type: none; 
    background: #eee; 
    padding: .2em; 
    border-top: 1px solid #aaa; 
    border-bottom: 1px solid #fff; 
    //cursor: pointer; 

    position: relative;

    div.delete-icon {
        position: absolute;
        top: 0px;
        right: 8px;
        font-size: 10px;
        cursor: pointer; 
        /*
            border: 1px solid brown;
            color: red;
            height: 1em;
            width: 1em;
            text-align: center;
            vertical-align: top;
            padding-bottom: 2px;
            */
    }
}
.gp-listview li.displayed-dim { background-color: #37F; color: White; }
            
.gp-listview.inset { margin: 1em 0; }
.gp-listview.inset li { background: white; border: 2px solid #aaa; border-bottom-width: 0; }
.gp-listview.inset li:first-child { border-radius: 1em 1em 0em 0em }
.gp-listview.inset li:last-child { border-radius: 0em 0em 1em 1em; border-bottom-width: 2px; }
            
.gp-tiles { overflow-y: hidden; }
.gp-tiles > ul { width: 1175px; }
.gp-tiles ul { margin: 0; padding: 0; white-space: nowrap; }
.gp-tiles li { list-style-type: none; display: inline-block; background-color: #080; width:150px; height: 150px; padding: 1em; color: White; margin: 5px; font-weight: bold; zoom:1; *display: inline; }

button { display: block; border: 2px solid #aaa; line-height: normal; background-color: White; border-radius: 8px; margin: 8px 0; cursor: pointer; padding: 5px 20px; font-weight: bold; color: #333; }

.gp-left.gp-col { width: 250px; }
.gp-right.gp-col { left: 250px; right: 0; }
.gp-header.gp-row { height: 75px; }
.body.gp-row { top: 75px; bottom: 50px; }
.gp-footer.gp-row { height: 50px; bottom: 0; line-height: 50px; }

// end from  http://blog.stevensanderson.com/2011/10/05/full-height-app-layouts-a-css-trick-to-make-it-easier/]

#file-info {
    font-size: 10px;
}

// using bootstrap again, removing bootstrap extracts

// bootstrap stuff -- but need this:
div.filter-list {
    line-height: 14px !important;
    max-height: 300px !important;
    height: auto !important;
}
ul.filter-list {
    margin-left: 0;
    list-style: none;
    li {
        margin: 1px;
        cursor: pointer;
        display: inline-block;
        *display: inline;
        //padding-right: 5px;
        //padding-left: 5px;
        padding: 2px 4px;
        *zoom: 1;

        line-height: 14px;
        background-color: #333;
        color: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 2px 4px;
        font-size: 11.844px;
        font-weight: bold;
        line-height: 14px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        white-space: nowrap;
        vertical-align: baseline;
        list-style: none;
        &:hover {
            background-color: #eee;
            color: #333;
            opacity: 1 !important;
        }
        &.from {
            background-color: $from-color !important;
        }
        &.to {
            background-color: $to-color !important;
        }
        &.label-filtered {
            color: #333;
            background-color: #eee;
            opacity: 0.5;
            &:hover {
                color: #fff;
                background-color: #333;
                opacity: 1 !important;
            }
        }
    }
}
/*
body {
    position:fixed !important;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
*/
#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

path.link {
    fill: none;
    stroke: $link-color;
    stroke-width: 1px;
    &.from-version {
        stroke: $from-color;
    }
    &.to-version {
        stroke: $to-color;
    }
}

.clear {
    clear: both;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}
div.pie {
    float: left;
    text-align: center;
    border-radius: 5px;
}
.dimension-dragger {
    background: orange;
    font-weight: bold;
    width: 100%;
    height: 100%;
}
.dimension-receptacle {
    min-width: 40px;
    min-height: 20px;
    border: 2px dashed purple;
    text-align: center;
}

.node circle {
    cursor: pointer;
    fill: #ddd;
    stroke: steelblue;
    //stroke-width: 1.5px;
}
.node path {
    cursor: pointer;
    fill: lightsteelblue;
    stroke: steelblue;
    //stroke-width: 1.5px;
}

.node text {
    font-size: 11px;
}

.axis text {
    font-size: 10px;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
