/* Generic pane rules */
/* line 10, treelike.scss */
body {
  margin: 0;
  -webkit-text-size-adjust: 100%; }

/* line 11, treelike.scss */
.gp-page {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

/* line 12, treelike.scss */
.gp-row, .gp-col, .gp-page {
  overflow: hidden;
  position: absolute; }

/* line 15, treelike.scss */
.gp-row {
  left: 0;
  right: 0; }

/* line 16, treelike.scss */
.gp-col {
  top: 0;
  bottom: 0; }

/* line 17, treelike.scss */
.gp-scroll-x {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; }

/* line 18, treelike.scss */
.gp-scroll-y {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

/* line 19, treelike.scss */
.gp-fill, .gp-pane {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

/* line 21, treelike.scss */
.gp-pane {
  display: none; }

/* Workaround: in landscape mode, IEMobile makes bottom toolbar
 * overlap the page, so shorten the page by 75px to compensate */
/* line 25, treelike.scss */
.iemobile .gp-page {
  bottom: -6px; }

@media screen and (orientation:landscape) {
  /* line 26, treelike.scss */
  .iemobile .page {
    bottom: 75px; } }
/* Very rough, 5-minute effort at iOS-like styles. I'm sure you can do better... */
/* line 31, treelike.scss */
body {
  font-family: 'Helvetica Neue', Arial, Sans-Serif; }

/* line 32, treelike.scss */
.gp-header, .gp-footer {
  color: #eee;
  background: #696f77;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 0 0.5em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #696f77), color-stop(100%, #28343b));
  background: -webkit-linear-gradient(top, #696f77 0%, #28343b 100%);
  background: -ms-linear-gradient(top, #696f77 0%, #28343b 100%); }

/* line 40, treelike.scss */
.gp-header {
  font-size: 1.4em; }

/* line 41, treelike.scss */
.body, .gp-pane {
  background: #ddd; }

/* line 42, treelike.scss */
.gp-right.gp-col {
  border-left: 1px solid black; }

/* line 43, treelike.scss */
.gp-right.gp-col .body {
  padding: 0 1em; }

/* line 44, treelike.scss */
.gp-listview {
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: #444; }

/* line 45, treelike.scss */
.gp-listview li {
  list-style-type: none;
  background: #eee;
  padding: .2em;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #fff;
  position: relative; }
  /* line 55, treelike.scss */
  .gp-listview li div.delete-icon {
    position: absolute;
    top: 0px;
    right: 8px;
    font-size: 10px;
    cursor: pointer;
    /*
        border: 1px solid brown;
        color: red;
        height: 1em;
        width: 1em;
        text-align: center;
        vertical-align: top;
        padding-bottom: 2px;
        */ }

/* line 72, treelike.scss */
.gp-listview li.displayed-dim {
  background-color: #37F;
  color: White; }

/* line 74, treelike.scss */
.gp-listview.inset {
  margin: 1em 0; }

/* line 75, treelike.scss */
.gp-listview.inset li {
  background: white;
  border: 2px solid #aaa;
  border-bottom-width: 0; }

/* line 76, treelike.scss */
.gp-listview.inset li:first-child {
  border-radius: 1em 1em 0em 0em; }

/* line 77, treelike.scss */
.gp-listview.inset li:last-child {
  border-radius: 0em 0em 1em 1em;
  border-bottom-width: 2px; }

/* line 79, treelike.scss */
.gp-tiles {
  overflow-y: hidden; }

/* line 80, treelike.scss */
.gp-tiles > ul {
  width: 1175px; }

/* line 81, treelike.scss */
.gp-tiles ul {
  margin: 0;
  padding: 0;
  white-space: nowrap; }

/* line 82, treelike.scss */
.gp-tiles li {
  list-style-type: none;
  display: inline-block;
  background-color: #080;
  width: 150px;
  height: 150px;
  padding: 1em;
  color: White;
  margin: 5px;
  font-weight: bold;
  zoom: 1;
  *display: inline; }

/* line 84, treelike.scss */
button {
  display: block;
  border: 2px solid #aaa;
  line-height: normal;
  background-color: White;
  border-radius: 8px;
  margin: 8px 0;
  cursor: pointer;
  padding: 5px 20px;
  font-weight: bold;
  color: #333; }

/* line 86, treelike.scss */
.gp-left.gp-col {
  width: 250px; }

/* line 87, treelike.scss */
.gp-right.gp-col {
  left: 250px;
  right: 0; }

/* line 88, treelike.scss */
.gp-header.gp-row {
  height: 75px; }

/* line 89, treelike.scss */
.body.gp-row {
  top: 75px;
  bottom: 50px; }

/* line 90, treelike.scss */
.gp-footer.gp-row {
  height: 50px;
  bottom: 0;
  line-height: 50px; }

/* line 94, treelike.scss */
#file-info {
  font-size: 10px; }

/* line 101, treelike.scss */
div.filter-list {
  line-height: 14px !important;
  max-height: 300px !important;
  height: auto !important; }

/* line 106, treelike.scss */
ul.filter-list {
  margin-left: 0;
  list-style: none; }
  /* line 109, treelike.scss */
  ul.filter-list li {
    margin: 1px;
    cursor: pointer;
    display: inline-block;
    *display: inline;
    padding: 2px 4px;
    *zoom: 1;
    line-height: 14px;
    background-color: #333;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    list-style: none; }
    /* line 133, treelike.scss */
    ul.filter-list li:hover {
      background-color: #eee;
      color: #333;
      opacity: 1 !important; }
    /* line 138, treelike.scss */
    ul.filter-list li.from {
      background-color: #996666 !important; }
    /* line 141, treelike.scss */
    ul.filter-list li.to {
      background-color: #4444ff !important; }
    /* line 144, treelike.scss */
    ul.filter-list li.label-filtered {
      color: #333;
      background-color: #eee;
      opacity: 0.5; }
      /* line 148, treelike.scss */
      ul.filter-list li.label-filtered:hover {
        color: #fff;
        background-color: #333;
        opacity: 1 !important; }

/*
body {
    position:fixed !important;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
*/
/* line 166, treelike.scss */
#footer {
  position: absolute;
  bottom: 0px;
  width: 100%; }

/* line 172, treelike.scss */
path.link {
  fill: none;
  stroke: #aaaa44;
  stroke-width: 1px; }
  /* line 176, treelike.scss */
  path.link.from-version {
    stroke: #996666; }
  /* line 179, treelike.scss */
  path.link.to-version {
    stroke: #4444ff; }

/* line 184, treelike.scss */
.clear {
  clear: both; }

/* line 187, treelike.scss */
.group:after {
  content: "";
  display: table;
  clear: both; }

/* line 192, treelike.scss */
div.pie {
  float: left;
  text-align: center;
  border-radius: 5px; }

/* line 197, treelike.scss */
.dimension-dragger {
  background: orange;
  font-weight: bold;
  width: 100%;
  height: 100%; }

/* line 203, treelike.scss */
.dimension-receptacle {
  min-width: 40px;
  min-height: 20px;
  border: 2px dashed purple;
  text-align: center; }

/* line 210, treelike.scss */
.node circle {
  cursor: pointer;
  fill: #ddd;
  stroke: steelblue; }

/* line 216, treelike.scss */
.node path {
  cursor: pointer;
  fill: lightsteelblue;
  stroke: steelblue; }

/* line 223, treelike.scss */
.node text {
  font-size: 11px; }

/* line 227, treelike.scss */
.axis text {
  font-size: 10px; }

/* line 231, treelike.scss */
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }
